<!DOCTYPE html>
<html>
<head>
  <title>PopUp!</title>
</head>
<body>
  <div class="wrapper_top">
    <div class="twelve columns" id="pod_holder">
        <div class="six columns" id="pod_form">
          <h2>Upload Your Podcast</h2>
          <%= render 'form' %>
        </div>

        <div class="six columns" id="pod_block">
          <p> Upload your podcast here. Podcast audio must be in an mp3 format and cannot exceed 50 megabytes. Be sure to add your episode title.</p>
        </div>
      </div>
    </div>
</body>
</html>

