<h1>Podcast details </h1>

  <strong>Title:</strong>
  <%= @podcast.title %><br>
  <strong>File Name:</strong>
  <%= @podcast.audio_file_name%><br>
  <strong>Length:</strong>
  <%= @podcast.length%><br>
<br />
<br />
<button><%= link_to 'Profile', podcasts_path %></button>


